<!-- Navigation Bar -->
<nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <div class="text-xl font-semibold">
    <a routerLink="/" class="hover:text-gray-300">Project Portal</a>
  </div>
  <div class="space-x-4">
    <a routerLink="" routerLinkActive="text-yellow-300" class="hover:text-yellow-300" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/add" routerLinkActive="text-yellow-300" *ngIf="isLoggedIn" class="hover:text-yellow-300"  [routerLinkActiveOptions]="{ exact: true }">Add Project</a>
    <a routerLink="/profile" routerLinkActive="text-yellow-300" *ngIf="isLoggedIn" class="hover:text-yellow-300">My Projects</a>
    <a routerLink="/login" routerLinkActive="text-yellow-300" *ngIf="!isLoggedIn" class="hover:text-yellow-300">Login</a>
    <a routerLink="/register" routerLinkActive="text-yellow-300" *ngIf="!isLoggedIn" class="hover:text-yellow-300">Register</a>
    <button *ngIf="isLoggedIn" (click)="logout()" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded">Logout</button>
  </div>
</nav>

<!-- Routed Views -->
<main class="p-6">
  <router-outlet></router-outlet>
</main>
